.vesselpayable {
  margin-left: 15px;
}

.payablefontsize {
  font-size: 13px;
  margin-left: 0x;
}

.paytexthead {
  text-align: left;

  padding-left: 35px;
}

.tablepay {
  border: 1px solid #e9e9e9;
}

.resultpay {
  background-color: #e9e9e9 !important;
}

.marginpay {
  padding-left: 20px !important;
  font-size: 13px;
}

.paybtn {
  color: white;
  height: 30px;
  font-size: 13px;
  align-items: center;
  display: flex;
}

.actionpay {
  display: flex;
  justify-content: end;
  margin-right: 25px;
  align-items: center;
}

.paginationpay {
  margin-right: 20px;
}

.due {
  color: red;
  font-weight: 300;
}

.tableheadcolorpayable {}

.tablepaybale {}

.downmargin {
  margin-left: 118px;
}

.total-receivable-card {
  display: flex;
  justify-content: flex-end;
  /* Align to the right */
  background-color: #f8f9fa;
  /* Light gray background */
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  /* Soft shadow */
  width: fit-content;
  margin-left: auto;
  /* Pushes the card to the right */
  margin-top: 15px;
}

.total-receivable-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  font-weight: bold;
  color: #333;
}

.filbtnjobreceivable {
  width: 100% !important;
}

.amount {
  font-weight: bold;
  color: #007bff;
  /* Blue text for emphasis */
}

.filbtnjobreceivable {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

@media (max-width: 576px) {
  .btn-group-responsive {
    flex-direction: column !important;
    align-items: stretch;
  }

  .filbtnjobreceivable {
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .btn-group-responsive {
    flex-direction: column !important;
    align-items: stretch;
  }

  .filbtnjobreceivable {
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
}