.soaf {
  margin-top: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-transform: capitalize !important;
}
.footimgfinal {
  max-height: 145px;
  display: flex;
  max-width: 869px;
  justify-content: center;
}

.download-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.download-btn-container .filbtnjobccbrkup {
  width: auto;
  min-width: 140px; /* Optional: set a minimum width for better appearance */
  max-width: 220px; /* Optional: prevent it from getting too wide */
}