@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.resendotp {
  display: flex;
  justify-content: center;
}

.otptext {
  text-decoration: none;
  font-size: 13px;
}

.otpform {
  width: 70px;
  height: 70px;
  /* display: block;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; */
  /* color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.otp {
  /* display: flex;
  justify-content: space-between; */
}

.pass {
  display: flex;
}

.fieldwidth {
  width: 300px;
  position: relative;
}

.eyeicon {
  margin-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.reseteyeicon {
  top: 7px;
  position: relative;
  right: 24px;
  cursor: pointer;
}

.side-logo {
  margin-bottom: 11px;
  align-content: center;
  max-width: 134px;
  max-height: 78px;
}

.btnsignout {
  margin-right: 10px;
}

.sidebar {
  position: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 100vh;
  width: 174px;
  color: #fff;
  transition: all 0.5s linear;
  background-color: #fff;
  border-right: 1px solid #f3f3f33c;
}

/* .sidebar:hover {
  width: 280px;
} */

.space {
  padding: 9px;
}

.menu {
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  border-radius: 5px;
}

.menu li a:hover,
.active {
  background-color: #1ebbee;
  color: #fff !important;
}

.menu li a:hover span,
.menu li a:hover i {
  color: #fff !important;
}

.active .pie-chart {
  color: #fff;
}

.active-span {
  color: #fff !important;
}

.menu a {
  max-height: 100%;
  max-width: 100%;
  border-radius: inherit;
  color: #737791;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.menu a span {
  overflow: hidden;
  color: #737791;
}

.menu a i {
  font-size: 1.2rem;
  color: #737791;
}

.Signout {
  border-top: 10px;
  border-color: black;
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%;
}

.main--content {
  position: relative;
  background: #efefef;
  width: 100%;
  padding-bottom: 10px;
}

.header--wrapper img {
  max-height: 37px;
  cursor: pointer;
  border-radius: 6px;
}

.header--wrapper {
  /* display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap; */
  background: #fff;
  padding: 0px 34px 0px 13px;
}

.nameuser {
  font-size: 11px;
}

.namefinance {
  font-size: 13px;
}

.notification {
  display: flex;
  background-color: #fffaf1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffa412;
}

.alert {
  color: #ffa412;
  align-items: start;
  padding: 0;
}

.nav-link {
  color: #737791;
}

.nav-underline {
  margin-left: 23px;
}

.card-heading {
  display: flex;
}

.card-main {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.dashboard_cards {
  border-radius: 10px;
  padding: 5px 16px;
}

.card_title {
  font-size: 12px;
}

.chatnotification {
  position: relative;
  margin-right: 10px;
}

.chatnotifnumber {
  position: absolute;
  top: 4px;
  left: 106px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: #ff0000;
  height: 15px;
  width: 20px;
  border-radius: 150px;
}

.card_subtitle {
  font-size: 10px;
  color: #4079ed;
  padding: 0px;
}

.chatt {
  font-size: 13px;
  font-weight: 500;
}

.notificationnumber {
  position: absolute;
  top: -2px;
  left: 30px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: #ff0000;
  height: 15px;
  width: 20px;
  border-radius: 150px;
}

        .notificationnumber {
            position: absolute;
            top: 0px;
            left: 30px;
            color: white;
            font-size: 10px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            background-color: #FF0000;
            height: 15px;
            width: 20px;
            border-radius: 150px;
        }

.received-quot {
  background-color: #fff4de;
}

.img-size {
  max-height: 25px;
  margin-top: 10px;
}

.marginnew {
  margin-right: -4px;
}

.carduppercontent {
  font-size: 13px;
}

.infobtn {
  background-color: #1ebbee;
  height: 36px;
}

.createb {
  font-weight: 500;
}

.carduppercontentlast {
  font-size: 13px;
  cursor: pointer;
}

.pending-quot {
  background-color: #ffe2e5;
}

.approved-quot {
  background-color: #dcfce7;
}

.ops {
  background-color: #f3e8ff;
}

.jobscomp {
  background-color: #def6fc;
}

.finalinvoicestatus {
  background-color: #e2f6c4;
}

.admin-button {
  padding: 0%;
  border: 0;
  height: 0px;
}

.split {
  background-color: #ffffff;
  height: 0px;
  border: 0;
  margin-bottom: 0px;
}

.chat-button {
  background-color: #119856;
  padding: 30px;
  border: 0;
  color: #f3e8ff;
}

.reports {
  background-color: FFFAF1;
  font-size: 30px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 100px;
  border: 1px solid #ffa412;
}

.report-alert {
  color: #ffa412;
}

.report-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 50px 20px;
  margin-top: 25px;
  height: 62vh;
}

.notificationbell {
  position: relative;
}

.btn {
  text-align: start;
}

.main {
  background-color: #119856;
  padding: 50px;
}

.pdadate {
  display: flex;
}

.btn-color {
  background-color: #007ac12d;
  border-color: #007ac1fb;
}

.badge-text {
  color: #007ac1fb;
}

.back {
  background-color: #ffffff;
  padding: 0;
}

.draft {
  border-color: #007ac1;
  color: #007ac1;
  background-color: #007ac11e;
}

.book {
  color: #007ac1;
}

/* .radio {
  position: relative;
  color: #000000;
  cursor: pointer;
  border: 1px solid #80808041;
  padding: 1em 2em;
  border-radius: 0.5em;
} */

.logoside {
  max-height: 200px;
}

.required {
  color: red;
}

/* .vesselbox {
  padding-top: 15px;
  padding-bottom: 15px;
} */

/* .vessel-voyage {
  padding-top: 15px;
  padding-bottom: 15px;
} */

.password_container {
  position: relative;
}

.password_container {
  position: relative;
}

.bellicon {
  /* margin-top: 9px; */
  height: 41px;
}

.password_container input {
  padding-right: 30px;
}

.password_icon {
  position: absolute;
  bottom: 3px;
  right: 10px;
  cursor: pointer;
}

.addcharge-button {
  background-color: #007ac1;
  width: 100%;
  height: 100%;
  padding: 3.8px;
  /* padding-top: 13px; */
  /* padding-bottom: 13px; */
  margin-top: 24px;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}

/* .typesofcall-row {
  margin-top: 30px;
} */

.td {
  padding: 5px;
}

/* loginpage start */
.transocean_login {
  position: relative;
}

.transocean_login .logo {
  max-height: 150px;
  max-width: 200px;
  align-items: center;
  /* margin-top: 150px;
    margin-left: 300px; */
  margin: 0 auto;
}

.transocean_login .mainpng {
  max-width: 500px;
  max-height: 500px;
  padding: 20px;
}

.logincard {
  margin-top: 20px;
}

.transocean_login .maincard {
  padding: 25px;
  border-radius: 10px;
  border: 1px solid rgba(102, 100, 100, 0.253);
  box-shadow: 0 4px 8px 0 rgba(199, 198, 198, 0.2),
    0 6px 20px 0 rgba(207, 207, 207, 0.19);
}

.transocean_login .login_text {
  text-decoration: underline;
  padding-bottom: 15px;
  font-size: 19px;
}

.transocean_login .form-control {
  width: 400px;
  max-width: 100%;
}

.transocean_login .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.transocean_login .form-check-input {
  margin: 0 5px 0 -25px;
  margin-bottom: 2px;
}

.transocean_login .buttons {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 0%;
}

.transocean_login .btn-primary {
  background-color: #007bc1;
  display: flex;
  justify-content: center;
}

.transocean_login .btn-primary:hover {
  background-color: #007bc1;
  color: white;
}

.transocean_login .group {
  position: absolute;
  left: 0;
  top: 0;
}

.transocean_login .bottom-head a,
.footerlinks a {
  color: #4d5959 !important;
  text-decoration: none;
}

.bottom-head {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  margin: 10px 0px;
  font-size: 13px;
}

.copyright,
.footerlinks {
  margin: 0px;
  /* padding:0px; */
}

.footerlinks.pl-2 {
  padding-left: 15px;
}

.transocean_login .nav-link {
  margin: 0 20px;
  border-radius: 0px;
}

.transocean_login .nav-pills .nav-link.active,
.transocean_login .nav-pills .show > .nav-link {
  background-color: #007bc1;
  color: white;
}

.transocean_login .nav-pills .nav-link {
  border-radius: 0px;
  border: 0.2px solid #c4bfbf;
  color: rgb(0, 0, 0);
  margin: 0px;
}

/* .header--wrapper .btn-group {
            margin-top: 9px;
        } */

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 6px;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.test {
  margin-top: 1px;
}

.transocean_login .forgotpassword {
  font-size: 11px;
  cursor: pointer;
  margin-top: 6px;
}

.menulist {
  font-size: 13px;
  font-weight: 500;
}

.fullbody {
  width: calc(100% - 159px);
  max-height: 100%;
}

.mainbody {
  border-right: 1px solid #e7e7e7;
}

.menugap {
  margin-bottom: 10px;
}

.transocean_login .rememberme {
  font-size: 11px;
}

.same-level {
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signoutmain {
  padding-top: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.usersep {
  border-bottom: 1px solid rgba(151, 151, 151, 0.313);
  padding-bottom: 12px;
}

.version {
  font-size: 10px;
}

.loginpageversion {
  font-size: 12px;
  margin-bottom: 0px;
}

.alignbox {
  display: flex;
  align-items: center;
  min-height: 89vh;
  padding: 0px 101px;
}

.alignboxotp {
  display: flex;
  align-items: center;
  min-height: 89vh;
  padding: 0px 150px;
}

.otp-boxes {
  display: flex;
  justify-content: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .sidebar {
    width: 100%;
    position: relative;
    min-height: auto;
    border-right: none;
    border-bottom: 1px solid #f3f3f3;
  }

        /* Extra small devices (portrait phones, less than 576px) */
        @media (max-width: 575.98px) {
            .sidebar {
                width: 100%;
                position: relative;
                min-height: auto;
                border-right: none;
                border-bottom: 1px solid #f3f3f3;
            }
.transocean_login .form-control {
    width: 350px;
    max-width: 100%;
}
            .fullbody {
                width: 100%;
            }

  .otpform {
    width: 50px;
    height: 50px;
  }

  .dashboard_cards {
    margin-bottom: 15px;
  }

  /* .header--wrapper {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                padding: 10px;
            } */

  .btn-group {
    width: 100%;
    justify-content: space-between;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .sidebar {
    width: 160px;
  }

  .fullbody {
    width: calc(100% - 160px);
  }

            .alignbox,
            .alignboxotp {
                padding: 30px;
            }
        }
        .transocean_login .form-control {
    width: 350px;
    max-width: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar {
    width: 174px;
  }

  .fullbody {
    width: calc(100% - 174px);
  }

  .header--wrapper {
    flex-wrap: wrap;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .dashboard_cards {
    padding: 10px;
  }

  .img-size {
    max-height: 20px;
  }

  .card_count {
    font-size: 16px;
  }

  .card_title {
    font-size: 11px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Keep current layout or add extra spacing if needed */
}

        /* Sidebar hidden on small screens */
        @media (max-width: 768px) {
            .sidebar {
                position: fixed;
                z-index: 1050;
                top: 0;
                left: -200px;
                width: 200px;
                height: 100%;
                background-color: #fff;
                transition: left 0.3s ease;
                box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            }
.transocean_login .form-control {
    width: 338px;
    max-width: 100%;
}
            .sidebar.show {
                left: 0;
            }

            .fullbody {
                width: 100%;
            }
            .marsmallscreen{
                margin-top: 193px;
            }
          }
        }
