.statement {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-top: 20px;
}
.crew {
  margin-right: 10px;
}
.onsign {
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 15px;
}
.signers-wrapper {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}
.crewbtn{
  margin-top: 24px;
}
.addoncrewbtn{
  width:200px;
}
.crewfontt{
  font-size: 0.8rem !important;
}
