@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.mainoktb {
  /* padding:10px 10px; */
}
.oktbheading {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-top: 20px;
}
.cont {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.answidth {
  width: 210px;
}
.passhead {
  width: 400px;
}
.queheading {
  font-size: 15px;
}
.anshead {
  font-weight: bolder;
  color: #929292;
}
.queheada {
  font-size: 15px;
}
.urgent {
  margin-top: 35px;
  font-style: italic;
  font-weight: 500;
}
.dear {
  padding: 10px;
 
  border-radius: 10px;
  border: 1px dashed rgba(103, 103, 103, 0.484);
}
.airportdetails {
  font-weight: bolder;
  border: 1px solid rgba(141, 141, 141, 0.205);
  border-radius: 5px;
  padding: 5px;
  color: #929292;
  word-wrap: break-word;
}
.wetrans {
  text-align: justify;
  font-size: 12px;
  margin-top: 25px;
}
.clarification {
  text-align: justify;
  font-size: 12px;
  margin-top: 15px;
}
.agents {
  text-align: justify;
  font-size: 12px;
  margin-top: 15px;
}
.date {
  margin-top: 10px;
  display: flex;
}
.dateinwidth {
  width: 210px;
}
.attention-section {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
  border-radius: 8px;
}

.passpheight{
  height:33px;
}